
<div id="carouselExampleControls"

 class="carousel slide border border-dark" data-bs-ride="carousel">
  <div class="carousel-inner ">

    <div class="carousel-item  " *ngFor="let carImageDto of carImageDtos[0]?.imagePath; index as i; first as firstImage" [ngClass]="{ active: firstImage }" >
      <img *ngIf="carImageDto.imagePath!=null" src="https://localhost:44309/{{carImageDto.imagePath}}" class="d-block w-100" alt="carImageDto.imagePath">
      <img *ngIf="carImageDto.imagePath==null" src="https://localhost:44309/images/cars/logo.jpg" class="d-block w-100" alt="carImageDto.imagePath">

 </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>

  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
</div>
<div class="card border-dark" *ngFor="let carImageDto of carImageDtos" style="width: 100;" >
  <div class="card-body bg-light " >
    <h2 class="mt-5"> <span>Renk</span> : {{carImageDto.colorName}} </h2>
    <h4><span>Daily Price </span>: {{carImageDto.dailyPrice |currency}} </h4>
    <h3> <span>Model Year</span> : {{carImageDto.modelYear}} </h3>
    <h2 class="description"> {{carImageDto.description}} </h2>
    <a routerLink="" class="btn btn-dark">Araçlara Dön</a>
    <a><button *ngIf="isCarRent==true" (click)="getCarDtoByCarId(carImageDto.carId)" (click)="setIsCarRentable()" routerLink="/carDto/rental/{{carImageDto.carId}}"
      class="btn btn-success"  >Aracı Kirala</button></a>
      <a><button *ngIf="isCarRent==false" (click)="getCarDtoByCarId(carImageDto.carId)" (click)="setIsCarRentable()" routerLink=""
        class="btn btn-success"  >Aracı Kirala</button></a>
  </div>
</div>

