
<div class="table-xl">
  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <label for="filterText" class="form-label"></label>
        <input type="text" [(ngModel)]="filterTextColor" class="form-control" id="filterText" placeholder="Renk İsmi Giriniz">
      </div>
      <ul class="list-group-item list-group-item-info"  >
        <li class="list-group-item btn-primary"
          routerLink="" >
          Tüm Renkler
          </li>
        <li class="list-group-item-danger"
          (click)="setCurrentColor(color)"
          routerLink="/carDto/color/{{ color.colorId }}"
          *ngFor="let color of colors |colorFilter:filterTextColor"
          [class]="getCurrentColor(color)"
        >
          {{ color.colorName }}
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner" data-bs-interval="1000">
        <div
          class="carousel-item"
          *ngFor="let carImage of carImages; index as i; first as firstImage"
          [ngClass]="{ active: firstImage }"
        >
          <img
            *ngIf="carImage.imagePath != null"
            src="https://localhost:44309/{{ carImage.imagePath }}"
            class="d-block w-100"
            alt="carImage.imagePath"
          />
          <img
            *ngIf="carImage.imagePath == null"
            src="https://localhost:44309/images/cars/logo.jpg"
            class="d-block w-100"
            alt="carImage.imagePath"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>

  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4" margin="left">
      <div class="mb-3">
        <label for="filterText" class="form-label"></label>
        <input type="text" [(ngModel)]="filterTextBrand" class="form-control" id="filterText" placeholder="Marka İsmi Giriniz">
      </div>
      <ul class="list-group-item list-group-item-info">
        <li class="list-group-item btn-primary" routerLink="" >
          Tüm Markalar
          </li>
      <li class="list-group-item-danger"
      (click)=" setCurrentBrand(brand)"
        routerLink="/carDto/brand/{{brand.brandId}}"
         *ngFor="let brand of brands |brandFilter:filterTextBrand"
         [class]="getCurrentBrand(brand)"
        >{{brand.brandName}}</li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="mb-3">
        <label for="filterText" class="form-label"></label>
        <input type="text" [(ngModel)]="filterTextCarDto" class="form-control" id="filterText" placeholder="Araba İle İlgili Özellik Giriniz">
      </div>
      <table class="table caption-top">
        <thead>
          <tr>
            <th>Marka Adı</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Fiyat</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carDto of carDtos |carFilter:filterTextCarDto" class="list-group-item-light" >
            <td>{{carDto.brandName}}</td>
            <td>{{carDto.colorName}}</td>
            <td>{{carDto.modelYear}}</td>
            <td>{{carDto.dailyPrice | currency:"TL "}}</td>
            <td><button routerLink="/carDto/carImage/{{carDto.carId}}"
                (click)="setCurrentCarDto(carDto)"
                class="btn btn-outline-danger" >Araç Detay</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
