<table class="table ">
  <thead>
    <tr>
      <th>Araba Id</th>
      <th>Marka Adı</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Fiyat</th>
      <th>Araba Detay</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carDto of carDtos" class="list-group-item-light" >
      <td>{{carDto.carId}}</td>
      <td>{{carDto.brandName}}</td>
      <td>{{carDto.colorName}}</td>
      <td>{{carDto.modelYear}}</td>
      <td>{{carDto.dailyPrice |currency:"TL "}}</td>
      <td>{{carDto.description}}</td>
      <td><button routerLink="/carDto/carImage/{{carDto.carId}}"  (click)="setCurrentCarDto(carDto)"  class="btn btn-outline-danger"  >Araç Detay</button></td>
      <td><button class="btn btn-outline-success">Kirala</button></td>
    </tr>
  </tbody>
</table>
